<h1>Codeial/<%= title%></h1>

<section>
    <%if(locals.user){%>
    <form action="/post/add-post" id="new-post-form" method="post">
        <textarea name="content" placeholder="type here..." cols="30" rows="10"></textarea>
        <input type="submit" value="POST">
    </form>
    <%}%>
</section>


<div id="post-list-container">

    <ul>
        <%for(post of posts){%>
            <%- include('_post')-%>
            <%}%>
    </ul>
    
    </div>
</div>

<section>
    <% for(u of all_users){%>
        <a href="/users/profile/<%= u.id%>"><%= u.name%></a>
    <%}%>
</section>

<script src="/js/home_posts.js"></script>

