<form action="/users/create-session" method="post">
    Email:
    <input type="email" name="email"><br><br>
    Password:
    <input type="text" name="password"><br><br>
    <button type="submit">signIn</button>
</form>
