<form action="">
    Email:
    <input type="email" name="username"><br><br>
    Password:
    <input type="text" name="password"><br><br>
    <a href="./home.ejs"><button type="submit">signIn</button></a>
</form>
<a href="/users/signup_newuser"><button>signUp</button></a>