<form action="/users/create" method="post">
    Name:
    <input type="text" name="name"><br><br>
    Email:
    <input type="email" name="email"><br><br>
    Password:
    <input type="text" name="password"><br><br>
    Confirm Password:
    <input type="text" name="confirm_password"><br><br>
    <button type="submit">ADD DETAILS</button>
</form>